# collect a list of words used in a paragraph

In [1]:
print(set("my name is Eric and Eric is my name".split()))

{'Eric', 'and', 'my', 'is', 'name'}

## Intersection

In [2]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))
print(b.intersection(a))

{'John'}
{'John'}

In [3]:
a & b

{'John'}

## Union

To receive a list of all participants, use the "union" method:

In [5]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))

{'Jake', 'John', 'Jill', 'Eric'}

OR

In [9]:
a | b

{'Eric', 'Jake', 'Jill', 'John'}

## Difference

To find out which members attended only one event and not the other, use the "difference" method:

In [6]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Jake', 'Eric'}
{'Jill'}

In [7]:
a-b

{'Eric', 'Jake'}

In [8]:
b-a

{'Jill'}

## symmetric_difference

To find out which members attended only one of the events, use the "symmetric_difference" method:

In [3]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{'Jake', 'Eric', 'Jill'}
{'Jake', 'Eric', 'Jill'}

## subset

In [10]:
A = {'a','b'}
B = {'a','b','c'}

A<B

True

## Set comprehension

In [11]:
countries = ['Iran', 'Turkey', 'Italy']
cities = ['Tehran', 'Ankara', 'Rome']

{country:city for country,city in zip(countries,cities)}

{'Iran': 'Tehran', 'Turkey': 'Ankara', 'Italy': 'Rome'}